<table class=small cellPadding=0 width=100% border=0>
<tr>
	<td valign="top" width=50><IMG alt="" src="HeaderImageDir/Logo.png"/></td>
	<td style="color: #666;FONT-FAMILY: Tahoma" width=220 valign="top" align="middle"><span style="position:relative;top:11px"><IMG alt="" src="HeaderImageDir/Profile.png"/></span>
<span style="position:relative;top:13px;"><br>A Software Service for Improving<br>Refinery Performance </span></td>
	<td width=80></td>
	<td width=300 align="center" valign="middle" style="color: #666;FONT-FAMILY: Tahoma"><strong>@ReportName</strong><br>@Description<br>@Date</td>
	<td></td>
</tr>
</table>
<hr width=100% color=#000000 SIZE=1>
