#html, body
{
	height: 100%;
}
#divAjaxTimer, #ifAjaxTimer
{
	position: absolute;
	top: 65%;
	left: 25%;
	display: none;
	width: 350px;
	height: 150px;
}

#divAjaxTimer
{
	background-color: #FFFFFF;
	border: 3px outset;
	z-index: 101;
}
#ifAjaxTimer
{
	z-index: 100;
}
#divAjaxContent, #divAjaxTitle
{
	font-family: Tahoma;
	font-size: 10pt;
}
#divAjaxTitle
{
	background-color: #616d83; /*background-image: url("images/bluegrad.jpg");*/
	color: white;
	font-weight: bold;
}
#divAjaxContent
{
	color: black;
	width: 330px;
	margin: 5px 5px 10px 5px;
}
#divAjaxBut
{
	text-align: center;
	margin-bottom: 10px;
}

#divAjaxBut .confirm
{
	color: green;
	width: 70px;
	background-color: #FFFFFF;
}
#divAjaxBut .ignore
{
	color: red;
	width: 70px;
	background-color: #FFFFFF;
}