﻿input
{
	font: normal 12px Arial,Verdana, Tahoma;
	outline: none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #999; /*rgba(0,0,0, 0.2)*/
	box-radius: 5px 5px 5px 5px;
	overflow: hidden;
}

input:focus
{
	box-shadow: 0 0 5px #e3a1a1;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
	border: 1px solid #991000;
}