#menu
{
	/*background: #333;*/
	float: left;
	list-style: none;
	margin: 0;
	padding: 0; /*font-size: 14px;*/ /*width: 100%;*/
	position: relative;
	top: 30px;
}
#menu li
{
	float: left;
	font: 11px "Lucida Sans Unicode" , "Bitstream Vera Sans" , "Trebuchet Unicode MS" , "Lucida Grande" , Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a
{
	/*background: #333 url("../images/seperator.gif") bottom right no-repeat;*/
	color: #991000;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: normal;
	font-size: .90em;
	border-left: thin solid white;
	border-right: thin solid #ddd;
}
#menu a:hover
{
	background: #991000 bottom center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}