.noshow
{
	visibility: hidden; /*float:  left ;*/
	height: 0px;
}

#fixme
{
	visibility: hidden;
}

.SlideLeft
{
	left: 0px;
	position: absolute;
	top: 0px;
}

body
{
	visibility: hidden;
}

/*.showPrint{display:block;
           overflow: visible;
           visibility:visible;
           position:relative;
           top:0px;
           margin: 1.5pt .5pt;}*/

.showPrint
{
	display: block;
	visibility: visible;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	float: none;
	position: absolute;
	top: 0px;
	overflow: visible;
}
.header, .footer
{
	height: 0px;
	display: none;
}