.aPjust
{
	font: 11px geneva, arial, verdana, sans-serif;
	color: #3f4755;
	text-align: justify;
}
.Faqquestion
{
	font: bolder 12px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}
.menulinkdisabled
{
	font: 10px verdana, geneva, arial, sans-serif;
}
.leftlinks
{
	font: 10px verdana, geneva, arial, sans-serif;
	color: #333;
}
.tinylink
{
	font: 10px geneva, arial, sans-serif;
}
.leftRelatedLinks
{
	font: 10px verdana, geneva, arial, sans-serif;
	color: #fff;
}
INPUT.button
{
	border-right: #32c862 1px solid;
	border-top: #32c862 1px solid;
	font-size: 8pt;
	border-left: #32c862 1px solid;
	width: 70px;
	color: #000;
	border-bottom: #32c862 1px solid;
	font-family: verdana, arial;
	background-color: #bceecc;
}
INPUT.checkbox
{
	border-right: 0;
	border-top: 0;
	font-size: 8pt;
	border-left: 0;
	width: 40px;
	color: #000;
	border-bottom: 0;
	font-family: verdana, arial;
}
INPUT.button2
{
	border-right: #32c862 1px solid;
	border-top: #32c862 1px solid;
	font-size: 8pt;
	border-left: #32c862 1px solid;
	width: 125px;
	color: #000;
	border-bottom: #32c862 1px solid;
	font-family: verdana, arial;
	background-color: #bceecc;
}
INPUT.buttonreset
{
	border-right: #fa4b00 1px solid;
	border-top: #fa4b00 1px solid;
	font-size: 8pt;
	border-left: #fa4b00 1px solid;
	width: 70px;
	color: #000;
	border-bottom: #fa4b00 1px solid;
	font-family: verdana, arial;
	background-color: #ffc4ab;
}
INPUT.btnlogin
{
	font-size: 10px;
	color: #000;
	font-family: verdana, arial;
	background-color: #CCC;
	border: solid 1px #000;
}
INPUT.smallbutton
{
	border-right: #32c862 1px outset;
	border-top: #d5ffd5 1px outset;
	font-weight: bolder;
	font-size: 10px;
	border-left: #d5ffd5 1px outset;
	width: 40px;
	color: #000;
	border-bottom: #32c862 1px outset;
	font-family: verdana, arial;
	background-color: #9f9;
}
.INPUT-BOX
{
	border-right: #060606 1px solid;
	border-top: #060606 1px solid;
	scrollbar-face-color: #ccc;
	scrollbar-highlight-color: #e0e0e0;
	border-left: #060606 1px solid;
	scrollbar-shadow-color: #999;
	scrollbar-3dlight-color: #b9b9b9;
	scrollbar-arrow-color: #333;
	scrollbar-track-color: #fff;
	border-bottom: #060606 1px solid;
	font-family: verdena,tahoma, "andale mono" , monotype.com, "courier new" , monospace;
	color: #333;
	font-size: XX-Small;
	scrollbar-darkshadow-color: #b9b9b9;
	scrollbar-base-color: #f0f0f0;
	height: 14px;
	background-color: #f8f8f8;
}
.DROP-BOX
{
	scrollbar-face-color: #ccc;
	font-size: 12px;
	scrollbar-highlight-color: #e0e0e0;
	scrollbar-shadow-color: #999;
	scrollbar-3dlight-color: #b9b9b9;
	scrollbar-arrow-color: #333;
	scrollbar-track-color: #fff;
	font-family: "andale mono" , monotype.com, "courier new" , monospace;
	scrollbar-darkshadow-color: #b9b9b9;
	scrollbar-base-color: #f0f0f0;
	height: 16px;
	background-color: #f8f8f8;
}
unknown
{
	font: 11px geneva, arial, verdana, sans-serif;
	color: #616d83;
	text-decoration: none;
}
.bgdiv
{
	filter: alpha(opacity=80);
}
.drag
{
	cursor: hand;
	position: relative;
}
.left-sub-head
{
	font-size: 11px;
	color: #244e98;
}
.frontops
{
	font-weight: 400;
	font-size: 11px;
	color: #333;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
}
A.topops:hover
{
	color: #f60;
	text-decoration: none;
}
.gray66
{
	color: #666;
}
.black
{
	color: #000;
}
.white
{
	color: #fff;
}
.red
{
	color: red;
}
.greybluedark
{
	color: #616d83;
}
.greybluemedium
{
	color: #939aa6;
}
.greybluelight
{
	color: #b7bdc7;
}
.faqTopic
{
	font-weight: 700;
	font-size: 18px;
	float: left;
	padding-bottom: 10px;
	color: #666;
	line-height: 13px;
	font-style: normal;
	font-variant: normal;
}
.header3
{
	font-weight: 700;
	font-size: 14px;
	color: #666;
	line-height: 13px;
	font-style: normal;
	font-variant: normal;
}
.header2
{
	font-weight: 700;
	font-size: 16px;
	color: #333;
	line-height: 14px;
	font-style: normal;
	font-variant: normal;
	padding: 2px;
}
.header1
{
	font-weight: 700;
	font-size: 16px;
	color: #900028;
	line-height: 16px;
	font-style: normal;
	font-variant: normal;
}
.boxheader
{
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	line-height: 14px;
	font-style: normal;
	font-variant: normal;
}
.boxbody
{
	font-size: 10px;
	color: #244e98;
	line-height: 12px;
}
.trcolor99
{
	background-color: #999;
}
.trcoloree
{
	background-color: #eee;
}
.trcolordark
{
	background-color: #1f2632;
}
.trboxheader
{
	background-image: url(/bar/ident_bar_bg.gif);
	background-color: #ebedf6;
}
TD.tHeaderBackgroundAlternate
{
	background-image: url(/images/tHeaderBackgroundAlternate.gif);
	background-color: #ebedf6;
}
.trInActive
{
	background-color: #bac0cb;
}
.txtColorActive
{
	color: #3f4755;
}
.txtColorInActive
{
	color: #9fa3aa;
}
.norecInActive
{
	color: #fca07c;
}
TD.HeaderActive
{
	background-image: url(/images/bg_active.gif);
	background-color: #ebedf6;
}
TD.HeaderInActive
{
	background-image: url(/images/bg_inactive.gif);
	background-color: #ebedf6;
}
SPAN.showme
{
	filter: dropshadow(color=#000000,OffX=2.5,OffY=2.5,Positive=1);
	width: 100%;
	position: relative;
	top: -8px;
}
.whitedate
{
	background-color: #fff;
}
.darkdate
{
	background-color: #ccc;
}
.copy-tiny
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.copy-tiny-ju
{
	padding-right: 8px;
	padding-left: 8px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.copy-tinyBold
{
	font-weight: 700;
	font-size: 10px;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
LI.copy-tinyBold
{
	list-style-image: url(../images/link_box_black.gif);
}
.copy-tinyBoldWhite
{
	font-weight: 700;
	font-size: 10px;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.copy-supertiny
{
	font-size: 9px;
	color: #333;
}
LI.copy-tiny
{
	font-size: 10px;
	list-style-image: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.aEditComment
{
	border-right: #03c 1px;
	border-top: #03c 1px dotted;
	border-left: #03c 1px;
	color: #00f;
	border-bottom: #03c 1px dotted;
}
A.legal:hover
{
	color: #eee;
	text-decoration: underline overline;
}
TD.padding10
{
	padding: 10px;
}
.trmargin10
{
	padding: 10px 0;
}
P.lineover
{
	border-top: #ccc 1px dotted;
	font-size: 12px;
	color: #3f4755;
	padding-top: 6px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin: 20px 0 0;
}
.header1LineOver
{
	border-top: #ccc 1px dotted;
	font-weight: 700;
	font-size: 16px;
	width: 540px;
	color: #900028;
	line-height: 16px;
	padding-top: 12px;
	font-style: normal;
	font-variant: normal;
	margin: 40px 0 0;
}
.mapLi
{
	list-style-image: url(/images/bullet_sitemap.gif);
}
.maplili
{
	list-style-image: url(/images/tiny/map-l1.gif);
}
.mapliliend
{
	list-style-image: url(/images/tiny/map-le.gif);
}
.impactdiv
{
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	font: 9pt arial, verdana, sans-serif;
	border-left: #999 1px dotted;
	color: #3f4755;
	border-bottom: #999 1px dotted;
	background-color: #f3dfd8;
	text-align: justify;
	padding: 3px 6px;
}
.faqlineunder
{
	padding-top: 6px;
	border-bottom: #aaa 1px dotted;
	margin: 0 0 0 20px;
}
A.treflinks
{
	font: 10px verdana, geneva, arial, sans-serif;
	color: #513a99;
}
A.tpetrolinks
{
	font: 10px verdana, geneva, arial, sans-serif;
	color: #153997;
}
.disappear
{
	display: none;
	height: 0;
}
.topmenu, A.topmenu:link, A.topmenu:visited, A.topmenu:active, A.topmenu:hover
{
	text-decoration: none;
}
.menulink, .topops
{
	font: 10px verdana, geneva, arial, sans-serif;
	color: #244e98;
}
A.menulink:link, A.menulink:visited, A.menulink:active, A.tinylink:link, A.tinylink:visited, A.tinylink:active, A.topops:link, A.topops:visited, A.topops:active
{
	color: #333;
	text-decoration: none;
}
A.menulink:hover, A.leftlinks:hover, A.tinylink:hover, A.greybluedark:hover, A.greybluemedium:hover, A.greybluelight:hover
{
	color: #ff4800;
	text-decoration: none;
}
A.leftlinks:link, A.leftlinks:visited, A.leftlinks:active
{
	color: #153997;
	text-decoration: none;
}
.navtrail, .legal
{
	font-size: 10px;
	color: #eee;
	line-height: 10px;
}
A.navtrail:link, A.navtrail:visited, A.navtrail:active, A.navtrail:hover
{
	color: #eee;
}
.helplink, .homelink, .downlink
{
	cursor: hand;
}
.gray99, .HeadtxtColorInActive
{
	color: #999;
}
.gray33, .HeadtxtColorActive
{
	color: #333;
}
.orange, .norecActive
{
	color: #ff4800;
}
A.greybluedark:link, A.greybluedark:visited, A.greybluedark:active
{
	color: #616d83;
	text-decoration: none;
}
A.greybluemedium:link, A.greybluemedium:visited, A.greybluemedium:active
{
	color: #939aa6;
	text-decoration: none;
}
A.greybluelight:link, A.greybluelight:visited, A.greybluelight:active
{
	color: #b7bdc7;
	text-decoration: none;
}
.linkblue, A.linkblue:link, A.linkblue:visited, A.linkblue:active, A.linkblue:hover
{
	color: #00f;
	text-decoration: underline;
}
.trcolornavgrey, .trActive
{
	background-color: #758297;
}
A.legal:link, A.legal:visited, A.legal:active
{
	color: #eee;
	text-decoration: underline;
}
.ErrMsg 
{
	    border: 1px red solid; 
        font-size: 1.1em; 
        color:#991000;
        border: 1px #888 solid;
        background:  url(https://webservices.solomononline.com/RAMStudy/images/Error_sm.png) no-repeat  5% 50%;
        height: 55px;      
        width:100%;      
}
                         
.GoodMsg
{
	    border: 1px green solid; 
        background:  url(https://webservices.solomononline.com/RAMStudy/images/Green_Checkmark_sm.png) no-repeat 5% 50%; 
        font-size: 1.1em; 
        color:green;
        height: 55px;
        width:100%;      
        }
        
.ResponseMsg 
{
	position: relative;
	margin: 0 10%;
	top:35%;
	
}