body
{
	font-size: .85em;
	font-family: Arial, Verdana, Helvetica, Sans-Serif, "Century Gothic" , "Trebuchet MS"; /* color: #990000;/* #232323;*/
}

H1, H2, H3, H4, H5
{
	color: #990000;
}

A:link
{
	color: #990000;
	text-decoration: none;
}

A:hover, A:visited, A:active
{
	color: #990000;
	text-decoration: none;
}

A:hover
{
	color: #F2C1AC;
	text-decoration: none;
}

header, footer, nav, section
{
	display: block;
}

#footer
{
	font-size: .90em;
	color: White; /*background: #1f2632;*/
	min-height: 225px;
	border-top: #EEE 1px solid;
}

#content
{
	font-size: .95em;
	font-family: Arial,Verdana, "Century Gothic" , "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
	background: #fff;
	overflow: hidden;
	height: auto;
	min-height: 600px;
}

#header
{
	background: #ffffff;
	overflow: hidden;
}

#MenuContainer
{
	background: #333;
	overflow: hidden;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
	/*border-top :1px solid #ddd; 	border-right: 0; 	border-left:0; 	border-bottom:0;*/
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
	color: #999999;
}

textarea
{
	min-height: 75px;
}

.editor-label
{
	margin: 1em 0 0 0;
}

.editor-field
{
	margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

.headerIntro
{
	font-family: 'Arial';
	font-size: 25px;
	color: #991000;
	text-transform: capitalize;
	border-bottom: 1px solid #eee;
	min-width: 200px;
	max-width: 350px;
	padding-left: 0px;
	margin-top: 0px;
	text-align: left;
	height: 40px;
	vertical-align: bottom;
	text-transform: capitalize;
}

.returnLink
{
	position: relative;
	top: 25%;
}

img[align="middle"] {
  display:inline-block;
 vertical-align: middle;padding:0;margin:0;
}