/*
  SmartTab plugin v0.99
  jQuery Tab Control Plugin

  http://tech-laboratory.blogspot.com
  http://techlaboratory.wordpress.com
*/
.stContainer
{
	position: relative;
	margin: 0;
	padding: 0;
	left: 5px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	background-color: #F8F8F8;
	border: 0px solid #CCC;
	width: 1000px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 8px;
	-moz-border-radius: 8px; /* behavior: url(PIE.htc);*/
}

.stContainer div.SubSectionTab
{
	/* -webkit-border-radius: 5px;      -webkit-border-top-left-radius     -webkit-border-top-right-radius      -webkit-border-top-right-radius: 5px;     -webkit-border-bottom-right-radius: 5px;     -moz-border-radius-topright   : 8px;     -moz-border-radius-bottomright  : 8px;*/
	position: relative;
	margin: 0;
	border: 1px solid #CCC;
	padding: 10px; /*border-left-width: 0 !important;*/ /*height: 300px;     */
	width: 750px;
	min-height: 700px;
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	background-color: white /*#F8F8F8*/;
	text-align: left;
	overflow-y: visible;
	overflow-x: hidden;
	float: left;
}
.stContainer ul.tabContainer
{
	display: block;
	list-style: none;
	float: left;
	position: relative;
	padding: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0;
	margin: 0;
	width: 180px;
	min-height: 600px;
	clear: both;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px; /* behavior: url(PIE.htc);*/
}
.stContainer ul.tabContainer li
{
	display: block;
	position: relative;
	margin: 0;
	padding: 0; /* border-bottom: 0px solid #E0E0E0 !important; */
	border-top: 0px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	float: left;
	min-height: 70px;
}
.stContainer ul.tabContainer li a
{
	display: block;
	margin: 0;
	padding: 3px;
	text-decoration: none;
	min-height: 70px;
	width: 180px;
	max-height: 100%;
	color: #CCCCCC;
	outline-style: none;
}
.stContainer ul.tabContainer li a img
{
	display: block;
	margin: 0;
	padding: 3px;
	height: 50px;
	width: 50px;
	float: left;
}
.stContainer ul.tabContainer li a h2
{
	display: block;
	font: bold 16px Verdana, Arial, Helvetica, sans-serif;
	float: left;
}
/*.stContainer ul.tabContainer li a small {
  font: normal .75em Verdana, Arial, Helvetica, sans-serif;
  float:left;
}*/
.stContainer ul.tabContainer li a:hover
{
	color: #FFF;
	background: #991110;
	min-height: 70px;
	max-height: 100%;
}
.stContainer ul.tabContainer li a.sel
{
	min-height: 70px;
	max-height: 100%;
	width: 180px;
	color: #991110;
	background: #F8F8F8;
	cursor: text;
}
.stContainer ul.tabContainer li a.dis
{
	color: #CCCCCC;
	background: #F8F8F8;
	cursor: text;
	min-height: 70px;
	max-height: 100%;
}

.StepTitle
{
	display: block;
	position: relative;
	margin: 0;
	border: 1px solid #E0E0E0;
	padding: 5px;
	font: bold 14px Arial, Verdana, Helvetica, sans-serif; /* color:#5A5655;*/
	color: #991110;
	text-transform: uppercase; /* background-color:#E0E0E0;*/
	clear: both;
	text-align: left;
	z-index: 88;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; /* behavior: url(PIE.htc);*/
}
/*.stContainer ul.anchor li a*/.stepNumber
{
	position: relative;
	float: left;
	max-width: 40px;
	text-align: center;
	padding-left: 2px;
	padding-top: 0;
	font: bold 30px Verdana, Arial, Helvetica, sans-serif;
}
.stepDesc
{
	position: relative; /*display:inline-block;*/
	float: left;
	text-align: left;
	padding-top: 3px;
	padding-left: 5px;
	width: 80%;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.stepDesc small
{
	font: .75em Verdana, Arial, Helvetica, sans-serif;
}