﻿.SubMenu
{
	/*border: solid 1px #6d6d6d;     border-top: 0px !important;     border-bottom: 1px solid #333;*/
	color: #991000;
	text-shadow: 0 1px 1px black; /*padding: 5px 3px;*/
	width: 100%;
	background: #eee;
	box-shadow: 0 0 1px 1px #eee; /*  background: -moz-linear-gradient(top,  #991000 ,#BA837D ); /* for firefox 3.6+ */ /* filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#BA837D', startColorstr='#991000'); /* for IE */
}

ul#topnav
{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	font-size: 1em;
}

ul#topnav li div
{
	margin: 0;
	padding: 0;
	position: relative; /*--Important--*/
	left: 0;
}

ul#topnav li a
{
	padding: 0 25px;
	float: left; /*text-indent: -9999px; /*--Push text off of page--*/ /*height: 44px;*/
}
/*, ul#topnav li a:hover*/
/*ul#topnav li:hover a*/
ul#topnav a:hover, ul#topnav a:active
{
	color: white;
	background: #991000;
	border: 1px #333 solid;
	border-bottom: 0 !important; /* -webkit-border-top-left-radius: 5px;     -webkit-border-top-right-radius: 5px;     -moz-border-radius-topleft: 5px;     -moz-border-radius-topright: 5px;     border-top-left-radius: 5px;     border-top-right-radius: 5px;*/
}
/*--Hover State--*/
ul#topnav a
{
	/*background: url(nav_home.png) no-repeat;*/ /*margin-right: 10px;     border-right:1px #bbb;     font-weight:500;*/
	color: #555; /*Avaiable sites link*/
}

ul#topnav a.products
{
	/*background: url(nav_products.png) no-repeat;*/
	width: 117px;
	color: White;
}
ul#topnav a.sale
{
	/*background: url(nav_sale.png) no-repeat;*/
	width: 124px;
	color: White;
}
ul#topnav a.community
{
	/*background: url(nav_community.png) no-repeat;*/
	width: 124px;
	color: White;
}
ul#topnav a.store
{
	/*background: url(nav_store.png) no-repeat;*/
	width: 141px;
	color: White;
}
ul#topnav li .sub
{
	position: absolute; /*--Important--*/
	top: 25px;
	left: 0;
	z-index: 99999;
	width: 800px; /* background:#eee;     /*background:white; url(sub_bg.png) repeat-x; /*--Background gradient--*/ /*padding: 0 20px ;     float: left; /*--Bottom right rounded corner--*/
	border: 1px solid #aaa;
	border-top: 0 !important;
	display: none; /*--Hidden for those with js turned off--*/
	background: -moz-linear-gradient(top,  #FFF ,#eff ); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientTyoe='0',endColorstr='#ffffff', startColorstr='#FFFFFF'); /* for IE */
}
ul#topnav li .row
{
	/*--If needed to break out into rows--*/
	clear: both; /*float: left;*/
	margin-bottom: 10px;
}
ul#topnav li .sub ul
{
	float: left;
	list-style: none;
	border: 1px solid #ddd;
	margin: 0 5px;
	padding: 0;
	width: 120px; /*border-right: 1px dotted #999;       border-bottom: 1px dotted #999;*/
}
ul#topnav .sub ul li
{
	width: 100%; /*--Override parent list item--*/
	color: #555;
}
ul#topnav .sub ul li h2
{
	/*--Sub nav heading style--*/
	padding: 0;
	margin: 0; /*font-size: 1.3em;*/
	font-weight: normal;
}

ul#topnav .sub ul li h2 a
{
	/*--Sub nav heading link style--*/
	padding: 1px 2px;
	background-image: none;
	background: #eee;
	border: 1px solid #aaa;
	color: #991000;
	font-size: .50em;
	font-weight: 600;
}
ul#topnav .sub ul li a
{
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/ /*background: url(../images/red_right_arrow.gif) no-repeat 5px 12px;*/
	padding: 0 0 0 5px;
	display: block;
	text-decoration: none;
	color: #333;
	font-size: .95em;
	line-height: 1.5;
	border-top: 1px dotted #999;
}

ul#topnav .sub ul li a:hover
{
	/*border: 0 !important;*/
	color: #df4434;
	background: white; /*border-bottom: 1px dotted #000;    -webkit-border-top-left-radius: 0;     -webkit-border-top-right-radius: 0;     -moz-border-radius-topleft: 0;     -moz-border-radius-topright: 0;     border-top-left-radius: 0;     border-top-right-radius: 0;*/
}