<%@ Control Language="vb" AutoEventWireup="false" Codebehind="EIIReport.ascx.vb" Inherits="Solomon.Profile.Server.ReportControls.EIIReport" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
