<%@ Control Language="vb" AutoEventWireup="false" Codebehind="GPVReport.ascx.vb" Inherits="Solomon.Profile.Server.ReportControls.GPVReport" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
