<%@ Control Language="vb" AutoEventWireup="false" Codebehind="Table4Report.ascx.vb" Inherits="Solomon.Profile.Server.ReportControls.Table4Report" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
