.noshow
{
	/*display: none;*/
	visibility: hidden;
	float:  left ;	
}
#fixme
{
	visibility: hidden;
}
.SlideLeft
{
	left: 0px;
	
	position: absolute;
	top: 0px;
	
}


.showPrint{display:inline;}
.header, .footer {
display:none;
}

