﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<decimal?>" %>
<% this.ViewData.Add("style","text-align:right"); %>
<%--<%: Html.TextBox("", String.Format(System.Globalization.CultureInfo.CurrentCulture,"{0:N}", Model),  this.ViewData.ToDictionary(c=>c.Key,c=>c.Value))%> --%>
<%: Html.TextBox("", String.Format(System.Threading.Thread.CurrentThread.CurrentCulture, "{0:N" + this.ViewData["DecPlaces"] + "}", Model), this.ViewData.ToDictionary(c => c.Key, c => c.Value))%> 
