.mainCardNavigator {
	background-alpha: 0;
	border-style: none;	
}

.header
{
	padding-top: 15px;	
	padding-bottom: 15px;	
	padding-left: 7px;			
	padding-right: 10px;
	vertical-align: middle;
	font-size: 14pt;
}

.breadCrumbs
{
	color: #ffffff;
	disabledColor : #ffffff;
	horizontalGap : 0;
	paddingBottom : 0;
	paddingLeft : 0;
	paddingRight : 0;
	paddingTop : 0;
	verticalGap : 0; 		
}

.fileCount
{
	color: #ffffff;
}

.mainCardNavContainer
{
	padding-left: 0;	/* All these are 0 because these values are provided
							padding of individual cards */
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;

	horizontal-align: center;
	vertical-align: middle;
}

