﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
    border-bottom: 1px solid #496077;
    font-weight:bold
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

.row-blue
{
    background-color: Blue;
}
.row-litegray
{
    background-color: #98AFC7;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal
{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10.0pt;
    margin-left: 0in;
    line-height: 115%;
    font-size: 11.0pt;
    font-family: Calibri , sans-serif;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
/* Header */

#header1
{
	position: relative;
	margin: 0px;
    padding: 0px;
	background-color: #073C4C;
	background-image: url('../../../images/header.jpg');
	background-position: right top;
	background-repeat:no-repeat;
	height: 135px;
	width: 100%;
}

#header1 h1
{
	position: absolute;
	top: 1.2em;
	left: 1.0em; 
	font-size: 2.5em;
	color: #fff;
}

#header1 h2
{
	position: absolute;
	top: 7em;
	left: 2.5em; 
	font-size: 1.0em;
	font-weight: normal;
	color: #fff;
}

#header1 a
{
	color: #fff;
	text-decoration: none;
}
/* Menu */

#menu1
{
	position: absolute;
	width: 100%;
	top: 0em;
	left: 0em;
	background: #007788 url('images/x3.gif') top left repeat-x;
	height: 4em;
}

#menu1 ul
{
	list-style: none;
	position: absolute;
	bottom: 0em;
	left: 1em;
}

#menu1 li
{
	display: block;
	float: left;
}	

#menu1 li a
{
	color: #fff;
	display: block;
	padding: 0.75em 1.25em 1.25em 1.25em;
	text-decoration: none;
}

#menu1 li a:hover
{
	background: #007788 url('images/x4.gif') top left repeat-x;
}


.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10.0pt;
    margin-left: 0in;
    line-height: 115%;
    font-size: 12.0pt;
    font-family: Cambria , serif;
    color: #4F81BD;
    letter-spacing: .75pt;
    font-style: italic;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal
{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10.0pt;
    margin-left: 0in;
    line-height: 115%;
    font-size: 11.0pt;
    font-family: Calibri , sans-serif;
}
.style214 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 0px 4px 0px 4px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
a:link, span.MsoHyperlink
{
    color: blue;
    text-decoration: underline;
}
a:visited, span.MsoHyperlinkFollowed
{
    color: purple;
    text-decoration: underline;
}

pre
{
    margin: 0in;
    margin-bottom: .0001pt;
    font-size: 10.0pt;
    font-family: "Courier New";
}
samp
{
    font-family: "Courier New";
}
span.Heading3Char
{
    font-family: Times New Roman , serif;
    font-weight: bold;
}

span.HTMLPreformattedChar
{
    font-family: "Courier New";
}
.MsoPapDefault
{
    margin-bottom: 10.0pt;
    line-height: 115%;
}

h9
{
    margin-right: 0in;
    margin-left: 0in;
    font-size: 13.5pt;
    font-family: Times New Roman , serif;
    font-weight: bold;
}

