﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="OCalc.master.cs" Inherits="OlefinsCalculator.OCalc" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Olefin Study Factors and Standards Online Calculator</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript" src="Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        function LoginLogout(e) {
            if ($(e).text() == "Logout") {
                $('#btnLogout').click();
            }
            else {
                //$('#outer1').slideToggle().find('.inner div').fadeToggle();
                $('#outer1').slideToggle();
            }
        }

        function menuToggle() {
            $('#menu1').slideToggle();
            if ($('#divPlantInfo').is(":visible")) {
                $('#divPlantInfo').hide();
            }
            else {
                if ($("#ddlPlant").prop("selectedIndex") > 0) {
                    $('#divPlantInfo').show();
                }
            }
            if ($('#imgDownArrow').attr("src") == "Images/downarrow.png") {
                $('#imgDownArrow').attr("src", "Images/uparrow.png")
            }
            else {
                $('#imgDownArrow').attr("src", "Images/downarrow.png")
            }

            if ($('#calcs').length == 0) {
                $('#divPlantInfo').hide();
            }
        }

        function loginButtonClick() {
            $('#outer1').hide();
//            alert($('#UserName').val());
//            alert($('#Password').val());

//            if ($('#UserName').val() == '' && $('#Password').val() == '') {
//                alert('moo!');
//                $('#outer1').hide();
//            }

            //if ($('#LoginUser_UserName').val() != "" && $('#LoginUser_Password').val() != "") {
            //    $('#outer1').slideToggle();
            //}
        }
    </script>
    <style type="text/css">
        .modalBackground
        {
            background-color: Gray;
            filter: alpha(opacity=50);
            opacity: 0.7;
        }
        .HiddenCol
        {
            display: none;
        }
    </style>
</head>
<body id="MasterBody" style="margin-top: 0px; background: url('') no-repeat scroll center top #ADADAD; font: 13px/20px 'Open Sans','Lucida Sans Unicode',Arial,Tahoma,Verdana,Sans-serif">
    <form id="form1" runat="server">
    <div id="divMasterBodyContent" style="width: 960px; margin-left: auto; margin-right: auto; display: none;">
<div id="header-fixed" style="background-color: #FFFFFF; width: 960px;">
<div style="width: 960px; height: 6px; background-color: #0380cd;"></div>

<div style="width: 960px; height: 25px; background-color: #E6EAED; background-image: linear-gradient(#E6EAED, #D6DBE1);">
<div style="background-color: #E6EAED; background-image: linear-gradient(#E6EAED, #D6DBE1); height: 25px; float: left; width: 730px; padding-left: 5px; font-weight: bold;">Olefin Study Factors and Standards Online Calculator<asp:Button ID="btnLogout" runat="server" OnClick="btnLogout_Click" style="visibility: hidden;" /></div>
<div style="background-color: #E6EAED; background-image: linear-gradient(#E6EAED, #D6DBE1); height: 25px; float: left; width: 145px; border-left: 0px solid #000000; text-align: right;"><asp:Label ID="lblMenuHeader" runat="server" Visible="false" onclick="menuToggle();" style="text-decoration: none; color: #0380cd; cursor: pointer; padding-right: 11px;">Menu<img id="imgDownArrow" src="Images/downarrow.png" alt="" style="padding-left: 5px; border: 0px;" /></asp:Label></div>
<div style="background-color: #E6EAED; background-image: linear-gradient(#E6EAED, #D6DBE1); height: 25px; float: left; width: 60px; border-left: 1px solid #000000; text-align: center;">&nbsp;&nbsp;<%--<a href="#" id="alogin2" runat="server" onclick="clink();$('#outer1').slideToggle().find('.inner div').fadeToggle();">Login</a></div>--%><a href="#" id="alogin" runat="server" onclick="LoginLogout(this);" style="color: #0380cd;">Login</a></div>
</div>

<%--<div style="height: 0px; clear: both;"></div>--%>
<div style="float: left; width: 542px; height: 68px;"><img src="Images/logo1.png" alt="" style="height: 62px; width: 355px;" /><!--<img src="http://solomon.wpengine.com/wp-content/uploads/2012/10/horizontallogocolorhighres.png" alt="" style="height: 46px; width: 260px;" />--></div>


<div style="float: right;">

<asp:ScriptManager ID="smLogin" runat="server"></asp:ScriptManager>
<asp:UpdatePanel ID="upnlLogin" runat="server" UpdateMode="Conditional">
<ContentTemplate>
<div id="outer1" runat="server" class="outer" style="display: none; float: right;">
    <div class="inner" style="background-color: #ADADAD; height: 60px; border: 1px solid #000000; width: 400px; padding: 3px;">
    <asp:Panel ID="pnlLogin" runat="server">
        <asp:Login ID="LoginUser" runat="server" EnableViewState="false" RenderOuterTable="false" OnAuthenticate="Authenticate">
        <LayoutTemplate>
            <div style="float: left;"><asp:Label ID="UserNameLabel" runat="server" AssociatedControlID="UserName">Username:</asp:Label></div> <div style="float: left;"><asp:TextBox ID="UserName" runat="server" style="width: 100px; margin-left: 3px; margin-right: 3px;" /></div><div style="float: left;"><asp:Label ID="PasswordLabel" runat="server" AssociatedControlID="Password">Password:</asp:Label></div> <div style="float: left;"><asp:TextBox ID="Password" runat="server" TextMode="Password" style="width: 100px; margin-left: 3px; margin-right: 5px;" /><!--<input type="button" value="Go" onclick="login();" />--></div><div><asp:Button ID="LoginButton" runat="server" CommandName="Login" Text="Go" /></div>
        </LayoutTemplate>
        </asp:Login>
        </asp:Panel>
        <div id="divInvalidPW" runat="server" visible="false" style="color: Red; font-style: italic; float: left; width: 400px; text-align: center;">Invalid Username/Password</div>
        <div style="width: 400px; text-align: center;"><asp:LinkButton ID="lnkbtnForgotPassword" runat="server" OnClick="lnkbtnForgotPassword_Click" style="font-size: 9pt; text-align: center;">forgot password?</asp:LinkButton></div>
    </div>
</div>
<div id="menu1" runat="server" style="position: absolute; float: right; width: 153px; background-color: #ADADAD; background-image: linear-gradient(#E6EAED, #D6DBE1); display: none; text-align: center; margin-left: -234px; margin-top: 0px; border-right: 1px solid #000000; border-left: 1px solid #000000;"><div id="divadmin" runat="server" visible="false"><asp:LinkButton ID="lnkbtnAdministration" runat="server" PostBackUrl="~/PlantAdmin.aspx" Text="Administration"></asp:LinkButton></div><div style="border-bottom: 1px solid #000000; border-top: 1px solid #000000"><a href="CalcInput.aspx">Home</a></div><div style="border-bottom: 1px solid #000000;"><a href="Profile.aspx">My Profile</a></div><div style="border-bottom: 1px solid #000000;"><a href="Videos.aspx">DCS Videos</a></div><div style="border-bottom: 1px solid #000000;"><a href="Documents/Instructions for Use.pdf" target="_blank">Instructions</a></div><div style="border-bottom: 1px solid #000000;"><a href="Documents/Olefin Study New Factors.pdf" target="_blank">Study Factors</a></div><div style="border-bottom: 1px solid #000000;"><a href="mailto:olefins@solomononline.com?Subject=Olefins Online Calculator Feedback">Contact Us</a></div></div>
</ContentTemplate>
</asp:UpdatePanel>

<div id="divPlantInfo" runat="server" class="outer" style="display: none; float: right; padding-right: 5px; padding-top: 2px; position: absolute; margin-left: -302px;">
    <div class="inner"">
        <div style="float: left;"><img src="images/leftRound.png" /></div><div style="background-color: #0380cd; float: left; height: 23px; width: 272px; color: #FFFFFF;">Plant Information</div><div style="float: left; height: 23px; background-color: #0380cd;"></div><div><img src="images/rightRound.png" /></div>
        <div id="Div1" style="border: 1px solid #0380cd; width: 290px;">
        <asp:UpdatePanel ID="upnlPlantInfo" runat="server" UpdateMode="Conditional">
<ContentTemplate>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td>Calculations Remaining:</td><td><asp:Label ID="lblCalcsRemaining" runat="server" /></a></td></tr>
<tr><td>Reset Date:</td><td><asp:Label ID="lblCalcsResetDate" runat="server" /></td></tr>
</table>
</ContentTemplate>
</asp:UpdatePanel>
</div>
<p></p>
</div> </div>


</div>
<div style="height: 0px; clear: both;"></div>



<ajaxToolkit:ModalPopupExtender ID="mpePassword" runat="server" DropShadow="true" PopupControlID="pnlPassword" TargetControlID="btnHidPassword" Y="120" BackgroundCssClass="modalBackground"></ajaxToolkit:ModalPopupExtender>
<asp:Button ID="btnHidPassword" runat="server" style="display: none;" />
<asp:Panel ID="pnlPassword" runat="server" style="border: 0px solid #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; -khtml-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px;">
<asp:UpdatePanel ID="upnlForgotPassword" runat="server" UpdateMode="Conditional">
<Triggers><asp:AsyncPostBackTrigger ControlID="lnkbtnForgotPassword" EventName="Click" /></Triggers>
<ContentTemplate>
<div style="border-top: 1px solid #000000; border-left: 1px solid #000000; background-color: #0380cd; position: absolute; float: left; height: 23px; width: 536px; color: #FFFFFF; padding-left: 6px;">Forgot Password?</div>
<div style="float: right; height: 30px; position: absolute; left: 535px; top: -10px;"><img id="imgClosePlant" runat="server" src="Images/close.png" alt="" onclick="$find('mpePassword').hide();" style="cursor: pointer;" /></div>
<div style="width: 530px; padding: 6px; background-color: #ffffff; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; -khtml-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; border: 1px solid #000000;">
<br clear="all" />
Complete the form below and click the Reset Password button. If we find your account, we'll send a new password to the email address we have on record for you. 
<p></p>
<div style="height: 30px; width: 100px; float: left;">Email Address:</div><div style="height: 30px;"><asp:TextBox ID="txtEmailFP" runat="server" /><asp:RequiredFieldValidator ID="rfvEmailFP" runat="server" ControlToValidate="txtEmailFP" EnableClientScript="true" ErrorMessage="*" ForeColor="Red" ValidationGroup="vgForgotPassword"></asp:RequiredFieldValidator></div>
<div id="Div2">
<asp:Button ID="btnResetPassword" runat="server" OnClick="btnResetPassword_Click" Text="Reset Password" ValidationGroup="vgForgotPassword" />&nbsp;<asp:Label ID="lblResetPasswordStatus" runat="server" Text="" Visible="false" ForeColor="Red"></asp:Label>
</div>
</div>
</ContentTemplate>
</asp:UpdatePanel>
</asp:Panel>


        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>

    </div>
    </div>

<noscript>
 For full functionality of this site it is necessary to enable JavaScript.
 Here are the <a href="http://www.enable-javascript.com/" target="_blank">
 instructions how to enable JavaScript in your web browser</a>.
</noscript>

<script type="text/javascript">
    document.getElementById('divMasterBodyContent').style.display = "block";
</script>

    <script type="text/javascript">
    //Allow updatepanel to function with clientidmode=static
        if (Sys.WebForms.PageRequestManager) {
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            prm._findNearestElement = function (uniqueID) {
                while (uniqueID.length > 0) {
                    var clientID = this._uniqueIDToClientID(uniqueID);
                    var element = document.getElementById(clientID);
                    if (element) {
                        return element;
                    }
                    var indexOfFirstDollar = uniqueID.indexOf('$', 1);
                    if (indexOfFirstDollar === -1) {
                        return null;
                    }
                    uniqueID = uniqueID.substring(indexOfFirstDollar + 1, uniqueID.length);
                }
                return null;
            };
        }
    </script>

    </form>
</body>
</html>
