﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="RAM_Question.master.cs"
    Inherits="RAMAPP_Mvc3.Views.Shared.RAM_Question" %>

<%@ Import Namespace="System.Globalization" %>
<%@ Import Namespace="RAMAPP_Mvc3.Entity" %>
<%@ Import Namespace="RAMAPP_Mvc3.Localization" %>
<%@ Import Namespace="SquishIt.Framework" %>
 <%--<script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>--%>

 <%= Bundle.JavaScript()
                  .Add(Page.ResolveUrl("~/Scripts") + "/jquery.unobtrusive-ajax.min.js")
                  .Add(Page.ResolveUrl("~/Scripts") + "/jquery.qtip.min.js")
                 // .Add(Page.ResolveUrl("~/Scripts") + "/globalize.min.js")
                  .Add(Page.ResolveUrl("~/Scripts") + "/jquery.countdown.min.js")
                  .Add(Page.ResolveUrl("~/Scripts") + "/jquery.corner.js")
                // .Add(Page.ResolveUrl("~/Scripts") + "/cultures/globalize.cultures.js")
             .ForceRelease()
             .Render(Page.ResolveUrl("~/Scripts") + "/questions_combined.js")
 %>

<%--<script src="<%= Page.ResolveUrl("~/Scripts/jquery.unobtrusive-ajax.min.js")%>" type="text/javascript"></script>
<script src="<%= Page.ResolveUrl("~/Scripts/jquery.qtip.min.js")%>" type="text/javascript"></script>--%>
<script src="<%= Page.ResolveUrl("~/Scripts/globalize.min.js")%>" type="text/javascript"></script>
<%--<script src="<%= Page.ResolveUrl("~/Scripts/jquery.countdown.min.js")%>" type="text/javascript"></script--%>
<script src="<%= Page.ResolveUrl("~/Scripts/cultures/globalize.cultures.js")%>" type="text/javascript"></script>
<%--<script src="<%= Page.ResolveUrl("~/Scripts/jquery.corner.js")%>" type="text/javascript"></script>--%>
<script type="text/javascript">


   
	var disableNumFormatting = false;
	var pageModified = false;
	var fromAutoSaving = false;
	
    <%
     var glob = (RAMAPP_Mvc3.Localization.ClientCultureInfo) Session["globObj"];
     glob.SetClientCultureInfo();

	 %>
	 //Globalize.culture(selectedCulture);$.validator.methods.number=function(a,b){return this.optional(b)||!isNaN(Globalize.parseFloat(a,selectedCulture))}$(function(){Globalize.culture(selectedCulture)});$("#wrapper").css("background","none");function getValidationSummary(){var a=$(".validation-summary-errors");if(a.length==0){$(".title-separator").after("<div><ul class='validation-summary-errors ui-state-error'></ul></div>");a=$(".validation-summary-errors")}return a}function getResponseValidationObject(a){if(a&&a.Tag&&a.Tag=="ValidationError")return a;return null}function CheckValidationErrorResponse(e,c,f){var d=getResponseValidationObject(e);if(!d)return;var g=f||getValidationSummary();$.each(d.State,function(a,b){alert(b.Errors);g.append("<li>"+b.Errors.join("</li><li>")+"</li>");if(c&&b.Name.length>0)$(c).find("*[name='"+b.Name+"']").addClass("ui-state-error")})}

      
    Globalize.culture(selectedCulture);


    //Configure validator
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || !isNaN(Globalize.parseFloat(value, selectedCulture));
    }

	$(function () {
		Globalize.culture(selectedCulture);
	});

	$("#wrapper").css("background", "none");

	function getValidationSummary() {
		var el = $(".validation-summary-errors");
		if (el.length == 0) {
			$(".title-separator").after("<div><ul class='validation-summary-errors ui-state-error'></ul></div>");
			el = $(".validation-summary-errors");
		}
		return el;
	}

	function getResponseValidationObject(response) {

		if (response && response.Tag && response.Tag == "ValidationError")
			return response;
		return null;
	}

	function CheckValidationErrorResponse(response, form, summaryElement) {
		var data = getResponseValidationObject(response);

		if (!data)
			return;

		var list = summaryElement || getValidationSummary();

		$.each(data.State, function (i, item) {
			alert(item.Errors);
			list.append("<li>" + item.Errors.join("</li><li>") + "</li>");

			if (form && item.Name.length > 0)
				$(form).find("*[name='" + item.Name + "']").addClass("ui-state-error");
		});
	}
    
	
</script>

<div id="questionContent" class="container_16">
    <div class="grid_16" sizcache="1300" sizset="0" style="min-height: 400px;">
        <asp:contentplaceholder id="MainContent" runat="server">
				&nbsp;
		</asp:contentplaceholder>
    </div>
    <div id="autoSaver" style="visibility: hidden"></div>
</div>
<script src="<%= Page.ResolveUrl("~/Scripts/Watermark.js")%>" type="text/javascript"></script>
<script language="javascript" type="text/javascript">

    var loadReferencesUrl = '<%= Page.ResolveUrl("~/App/LoadQuestionReferences") %>';
   // $.ajaxSetup({cache:false});var autoSaveTime=60*1000*4;var intervalID=null;pageModified=false;var SaveResult=function(b){var a=$.parseJSON(b.responseText);var c=$('#savingDiv');if(a==null){alert('Need to add a save method for view');return true}if(a.Status){var d=a.Status?'Data was successfully saved ':'Unable to save data cause it failed validation. Please review data and try again ';if(!d)return false;c.find('#msg').text(d);c.delay(800).fadeIn(400).dialog('close');pageModified=false;fromAutoSaving=false}else if(a.Msg){var e;CheckValidationErrorResponse(a,$('form'),e);c.append('<div class="validation-summary-errors >'+a.Msg+'</div>');c.find('#msg').text('Save was unsuccessful. Please check input this section');c.dialog({width:400,buttons:{'Ok':function(){$(this).dialog('close')}}})}return false}var resetAutoSave=function(){if(intervalID!=null)clearInterval(intervalID);intervalID=setInterval(function(){if(pageModified){fromAutoSaving=true;SaveTabInput()}},autoSaveTime)}$(document).ready(function(){$(".ui-tabs").corner('top');resetAutoSave();loadHelpReferences();$('input[name^="_"]').each(function(b){var a=$(this);var c=a.attr('name').replace('_','');$(document).delegate('input[name^="'+c+'"]','blur',function(){if(!$(this).hasClass('ttlfld')&&!$(this).hasClass('formfld')){a.val($(this).val());a.trigger('keyup');a.trigger('blur')}})});$(document).delegate('input','keyup',function(b){if(b.which!=37&&b.which!=39&&b.which!=13){var a=$(this);if(b.which==9){a.select();return false}if((!a.hasClass('formfld')&&!a.hasClass('ttlfld'))||(a.attr('readonly')==undefined))a.css('background-color','#E8F8FA');if(a.attr('NumFormat')!=null){var c=a.val().replace(/[A-Za-z\s]/g,'');a.val(c)}}return false}).delegate('a.false','click',function(){return false});var k=$('#questionContent a[tooltip]');for(var i=k.length-1;$tipLink=k[i],i>=0;i--){$($tipLink).qtip({content:$($tipLink).attr('tooltip'),style:{classes:'ui-tooltip-dark',textAlign:'justify'}})}if(!disableNumFormatting){$(document).delegate('textarea,input,select','blur click change',function(b){pageModified=true;resetAutoSave()}).delegate('input[NumFormat]','blur',function(b){var a=$(this);var c=a.val();var d=a.attr('NumFormat');var e=a.attr('DecPlaces');if(!c)return false;var g=Globalize.parseFloat(c,selectedCulture);var f="N";if(g!=undefined&&!isNaN(g)){if(d!=null){if(d=='Int')f="n0"}if(e!=null){if(d=='Number')f="n"+e}a.val(Globalize.format(g,f))}})}$('div.html, div.jquery, div.tooltipIndicator').next().css('display','none').end().click(function(){var g=$(this).closest('.questionblock').attr('qid');var f=$(this).next();$(this).toggleClass("active");f.slideToggle('slow');if($(this).hasClass('upPointer')){$(this).removeClass('upPointer').addClass('downPointer');$(this).text('Show Help')}else{$(this).removeClass('downPointer').addClass('upPointer');$(this).text('Hide Help')}if(g&&$(this).is(':visible')){$.getJSON(loadReferencesUrl,{"qid":g},function(b){f.html('<span ><img src="~/images/system-help.png" runat="server" border="0" alt="help" align="middle"/></span><span style="padding:0 25px 0 0; display:inline-block; width:80%;">'+b.ToolTip+'</span>')}).error(function(b,a,c){var d=b.responseText.search("<title>")+7;var e=b.responseText.search("</title>");if(d>0&&e>0)f.html(b.responseText.substring(d,e))})}return false});$(document).delegate('img[class*=tooltipBtn]','click',function(){var f=$(this);var j=f.closest('.questionblock').attr('qid');if(j.length==0)j=f.closest('li[qid]').attr('qid');var h='<div style="text-align:left;height:40px;border-bottom:1px solid #911000; font-size:medium;font-weight: 500;">HELP</div>';$.getJSON(loadReferencesUrl,{"qid":j},function(b){var a=$('#helpDiv');h+='<div style="color:#333;text-align:left;padding:2px 2px 0 0; display:block;height:85%; width:95%;font-size:12px;"><p align="justify">'+b.Help+'</p></div>';a.html(h);a.dialog({resizable:false,bgiframe:true,height:450,width:400,modal:true,buttons:{'Close':function(){$(this).dialog('close')}},overlay:{backgroundColor:'#000',opacity:0.5}}).css("border","1px solid #991000","font-size",".90em").siblings('.ui-dialog-titlebar').remove()}).error(function(b,a,c){var d=b.responseText.search("<title>")+7;var e=b.responseText.search("</title>");var g=$('#helpDiv');if(d>0&&e>0)h+='<div style="color:#333;text-align:left;padding:5px 5px 0 0; display:block;height:85%; width:95%;">'+b.responseText.substring(d,e)+'</div>';g.html(h);g.dialog({resizable:false,bgiframe:true,height:500,width:400,modal:true,buttons:{'Close':function(){$(this).dialog('close')}},overlay:{backgroundColor:'#000',opacity:0.5}}).css("border","2px solid #991000").siblings('.ui-dialog-titlebar').remove()})});$('.grid ul li[input]').css('backgroud-color',' #FBF0EF');$('#tabContainer').tabs({select:function(b,a){var c=a.panel.id;c=c.replace(/_/g," ");$('span#currentSec').text(c);if(pageModified)SaveTabInput()},load:function(b,a){var c=a.panel.id;c=c.replace(/_/g," ");$('span#currentSec').text(c)}});$('input[id^="_"]').addClass('readOnly')});
 
    $.ajaxSetup({
        cache: false
    });
    var autoSaveTime = 60*1000*4;
    var intervalID = null;
    pageModified = false;

   var SaveResult = function(e) {
        var json = $.parseJSON(e.responseText);
        var $savingDiv = $('#savingDiv');
        if (json == null) {
            alert('Need to add a save method for view');
            return true;
        }

        if (json.Status) {
            var msg = json.Status ? 'Data was successfully saved ' : 'Unable to save data cause it failed validation. Please review data and try again ';
            //Prevents tab from switching if it was not succesful
            if (!msg)
                return false;

            $savingDiv.find('#msg').text(msg);

            $savingDiv.delay(800).fadeIn(400).dialog('close');

            pageModified = false;
            fromAutoSaving = false;
        }
        else if (json.Msg) {
            var errorsLst;

            CheckValidationErrorResponse(json, $('form'), errorsLst);
            $savingDiv.append('<div class="validation-summary-errors >' + json.Msg + '</div>');
            $savingDiv.find('#msg').text('Save was unsuccessful. Please check input this section');
            $savingDiv.dialog({
                width: 400,
                buttons:
				{
				    'Ok': function () {
				        $(this).dialog('close');
				    }
				}
            });
        }

        return false;
    }




   var resetAutoSave = function() {
        if (intervalID != null)
            clearInterval(intervalID);

        intervalID = setInterval(function () {
            if (pageModified) 
            {
                fromAutoSaving = true;
                SaveTabInput();
            }
        }, autoSaveTime); //auto save every 4 minutes
    }

    $(document).ready(function() 
    {

        $(".ui-tabs").corner('top');
        resetAutoSave(); //auto save every 4 minutes
        loadHelpReferences();

       // debugger;
//       var  $cloneFields =  $('input[name^="_"]');
//       for(var r = $cloneFields.length-1; $cl = $cloneFields[r],r >= 0 ; r-- )
//       {
//            var $clone = $( $cloneFields[r]);
//            //alert($clone.attr('name'));
//            var nam = $clone.attr('name').replace('_', '');

//            $(document).delegate('input[name^="' + nam + '"]','blur', function () {
//            // $('input[name^="' + nam + '"]').bind('blur', function () {
//                var $this = $(this);
//                //alert($this.attr('id'));
//                if (!$this.hasClass('ttlfld') && !$this.hasClass('formfld')) 
//                {
//                    $clone.val($this.val());
//                    $clone.trigger('keyup');
//                    $clone.trigger('blur');
//                }
//            });
//       }

        $('input[name^="_"]').each(function (e) {
            var $clone = $(this);
            var nam = $clone.attr('name').replace('_', '');
           $(document).delegate('input[name^="' + nam + '"]','blur', function () { 
                if (!$(this).hasClass('ttlfld') && !$(this).hasClass('formfld')) {
                    $clone.val($(this).val());
                    $clone.trigger('keyup');
                    $clone.trigger('blur');
                }
            });
        });

        
        // Change the color in the input box when modified
        // and its state to change

        //        $('input').bind('keyup', function (e) {

        //            //if (e.which == 13) return false;
        //            if (e.which != 37 && e.which != 39 && e.which != 13) {
        //                //return false;

        //                if (e.which == 9) {
        //                    $(this).select();
        //                    return false;
        //                }

        //                pageModified = true;

        //                if ((!$(this).hasClass('formfld') && !$(this).hasClass('ttlfld')) || ($(this).attr('readonly') == undefined))
        //                    $(this).css('background-color', '#E8F8FA');

        //                if ($(this).attr('NumFormat') != null) {
        //                    var c = $(this).val().replace(/[A-Za-z\s]/g, '');
        //                    $(this).val(c);

        //                }
        //            }
        //            return false;

        //        });
        
        //change color when data entered
        $(document).delegate('input', 'keyup', function (e) {
           
            if (e.which != 37 && e.which != 39 && e.which != 13) {
               
                var $inptEl = $(this);
                if (e.which == 9) {
                    $inptEl.select();
                    return false;
                }

                //pageModified = true;

                if ((!$inptEl.hasClass('formfld') && !$inptEl.hasClass('ttlfld')) || ($inptEl.attr('readonly') == undefined))
                    $inptEl.css('background-color', '#E8F8FA');

                if ($inptEl.attr('NumFormat') != null) {
                    var c = $inptEl.val().replace(/[A-Za-z\s]/g, '');
                    $inptEl.val(c);

                }
            }
            return false;
        })
        .delegate('a.false', 'click', function () {
            return false;
        });


        //Assign tooltip and style
        var $toolTipLinks = $('#questionContent a[tooltip]');
        for (var c = $toolTipLinks.length - 1; $tipLink = $toolTipLinks[c], c >= 0; c--) {
            $($tipLink).qtip({
                content: $($tipLink).attr('tooltip'), // Use the tooltip attribute of the element for the content
                style: { classes: 'ui-tooltip-dark', textAlign: 'justify'}// Give it a crea mstyle to make it stand out
            });
        }



        //Handles number formating after something has been entered 
        if (!disableNumFormatting) {

            //Change number to localized format
           /* $('input[NumFormat]').bind('blur', function (source) {

                var obj = $(this);
                var val = obj.val();
                var numFormat = obj.attr('NumFormat');
                var decPlaces = obj.attr('DecPlaces');

                if (!val)
                    return false;

                var tempval = Globalize.parseFloat(val, selectedCulture);
                var format = "N";
               
                if (tempval != undefined && !isNaN(tempval)) {
                    if (numFormat != null) {
                        if (numFormat == 'Int')
                            format = "n0";
                    }

                    if (decPlaces != null) {
                        if (numFormat == 'Number')
                            format = "n" + decPlaces;
                    }

                    obj.val(Globalize.format(tempval, format));
                }
            });*/




            $(document).delegate('textarea,input,select', 'blur click change', function (e) {
                pageModified = true;
                resetAutoSave();
            }).delegate('input[NumFormat]', 'blur',function(e){
            
                var obj = $(this);
                var val = obj.val();
                var numFormat = obj.attr('NumFormat');
                var decPlaces = obj.attr('DecPlaces');

                if (!val)
                    return false;

                var tempval = Globalize.parseFloat(val, selectedCulture);
                var format = "N";
               
                if (tempval != undefined && !isNaN(tempval)) {
                    if (numFormat != null) {
                        if (numFormat == 'Int')
                            format = "n0";
                    }

                    if (decPlaces != null) {
                        if (numFormat == 'Number')
                            format = "n" + decPlaces;
                    }

                    obj.val(Globalize.format(tempval, format));
                }
            
            });



            /*  var inputNumFlds = $('input[NumFormat]');
            
            for (var j = inputNumFlds.length - 1; j >= 0; j--) {
                
            var obj = $(inputNumFlds[j]);
            var val = obj.val();
            var numFormat = obj.attr('NumFormat');
            var decPlaces = obj.attr('DecPlaces');
            if (val != null) {

            var tempval = Globalize.parseFloat(val, selectedCulture);
                   
            var format = "N";

            if (tempval != undefined && !isNaN(tempval)) {
            if (numFormat != null) {
            if (numFormat == 'Int')
            format = "n0";
            }

            if (decPlaces != null) {
            if (numFormat == 'Number')
            format = "n" + decPlaces;
            }

            obj.val(Globalize.format(tempval, format));

            }
            }
            }*/


        }

        //Load tool tip and help slidedown
        $('div.html, div.jquery, div.tooltipIndicator').next().css('display', 'none').end().click(function () {
            var qid = $(this).closest('.questionblock').attr('qid');
            var tipElement = $(this).next();

            $(this).toggleClass("active");

            //Reveal or close the tool tip
            tipElement.slideToggle('slow');
            if ($(this).hasClass('upPointer')) {
                $(this).removeClass('upPointer').addClass('downPointer');
                $(this).text('Show Help');
            }
            else {
                $(this).removeClass('downPointer').addClass('upPointer');
                $(this).text('Hide Help');
            }

            //Load references
            if (qid && $(this).is(':visible')) {
                //returns help and tooltip
                $.getJSON(loadReferencesUrl,
						  { "qid": qid },
						  function (data) {

						      tipElement.html('<span ><img src="~/images/system-help.png" runat="server" border="0" alt="help" align="middle"/></span><span style="padding:0 25px 0 0; display:inline-block; width:80%;">' + data.ToolTip + '</span>');
						  })
				  .error(function (xmlHttpRequest, textStatus, errorThrown) {
				      //Display Ajax errors when they happen
				      var start = xmlHttpRequest.responseText.search("<title>") + 7;
				      var end = xmlHttpRequest.responseText.search("</title>");

				      if (start > 0 && end > 0)
				          tipElement.html(xmlHttpRequest.responseText.substring(start, end));

				  });
            }
            return false;
        });



        $(document).delegate('img[class*=tooltipBtn]',
                             'click', function () {
                                 var $obj = $(this);
                                 var qid = $obj.closest('.questionblock').attr('qid');

                                 if (qid.length == 0)
                                     qid = $obj.closest('li[qid]').attr('qid');
                                 var helpmsg = '<div style="text-align:left;height:40px;border-bottom:1px solid #CCC; font-size:medium;font-weight: 600;width:100%;">HELP</div>';
                                 //Load references

                                 //returns help and tooltip
                                 $.getJSON(loadReferencesUrl,
			{
			    "qid": qid
			}, function (data) {
                var $helpDiv =  $('#helpDiv');
			    helpmsg += '<div style="color:#333;text-align:left;padding:2px 2px 0 0; display:block;height:85%; width:95%;font-size:12px;"><p align="justify">' + data.Help + '</p></div>';
			    $helpDiv.html(helpmsg);
			    $helpDiv.dialog({
			        resizable: false,
			        bgiframe: true,
			        height: 450,
			        width: 400,
			        modal: true,
			        buttons:
					{
					    'Close': function () {

					        $(this).dialog('close');
					    }
					},
			        overlay:
					{
					    backgroundColor: '#000',
					    opacity: 0.5
					}
			    }).css("border", "1px solid #991000", "font-size", ".90em").siblings('.ui-dialog-titlebar').remove();
			}).error(function (xmlHttpRequest, textStatus, errorThrown) {
			    //Display Ajax errors when they happen
			    var start = xmlHttpRequest.responseText.search("<title>") + 7;
			    var end = xmlHttpRequest.responseText.search("</title>");
                var $helpDiv =  $('#helpDiv');
			    if (start > 0 && end > 0)
			        helpmsg += '<div style="color:#333;text-align:left;padding:5px 5px 0 0; display:block;height:85%; width:95%;">' + xmlHttpRequest.responseText.substring(start, end) + '</div>';
			    $helpDiv.html(helpmsg);
			    $helpDiv.dialog({
			        resizable: false,
			        bgiframe: true,
			        height: 500,
			        width: 400,
			        modal: true,
			        buttons:
					{
					    'Close': function () {
					        $(this).dialog('close');
					    }
					},
			        overlay:
					{
					    backgroundColor: '#000',
					    opacity: 0.5
					}
			    }).css("border", "2px solid #991000").siblings('.ui-dialog-titlebar').remove();
			});




                             });

        $('.grid ul li[input]').css('backgroud-color', ' #FBF0EF');

        
 
        
        $('#tabContainer').tabs({

            select: function (event, ui) {
                var sectionName = ui.panel.id;
                sectionName = sectionName.replace(/_/g, " ");
                $('span#currentSec').text(sectionName);

                if (pageModified)
                    SaveTabInput();
            },
            load:function (event, ui) {
                var sectionName = ui.panel.id;
                sectionName = sectionName.replace(/_/g, " ");
                $('span#currentSec').text(sectionName);
            }
        });

        $('input[id^="_"]').addClass('readOnly');

    });
    
</script>
