﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<ul id="menu">
    <li>
        <%= Html.ActionLink("HOME","Index","SAIAdmin")%></li>
    <li>
        <%= Html.ActionLink("VIEW COMPANIES", "ViewCompanies", "SAIAdmin")%></li>
</ul>
