﻿@{
    ViewBag.Title = "Saudi Energy Efficiency Program (SEEP) Olefins Training Videos";
}

<video controls loop preload poster="~/Content/Images/@ViewBag.imagePath" width="900" onclick="this.play();">
    <source src="~/Content/Videos/@ViewBag.videoPath"><!-- Serve first for iPad -->
    @*<source src="media/kitchen.ogv">
    <source src="media/kitchen.webm">*@
    <p>This browser does not support native video</p>
</video>
