﻿@{
    ViewBag.Title = "Saudi Energy Efficiency Program (SEEP) PDH Training Videos";
}

<video controls loop preload poster="~/Content/Images/PDH/@ViewBag.imagePath" width="900" onclick="this.play();">
    <source src="~/Content/Videos/PDH/@ViewBag.videoPath"><!-- Serve first for iPad -->
    <p>This browser does not support native video</p>
</video>
