﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/RAM.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>
<%@ Import Namespace="System.IO" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

<h2>ShowVideo</h2>
<%--<%
  this.ViewContext.HttpContext.Response.ContentType="video/mpeg";    
 %>
<%= this.ViewContext.HttpContext.Response.BinaryWrite(System.IO.File.ReadAllBytes("http://solomononline.com/downloads/RAMStudyWebinarModules/Module-9.mp4")%>--%>

<% 
       
          Response.ContentType="video/mp4";
          Response.AddHeader( "content-disposition","attachment; filename=downloadexample.mp4");  
           var  wc= new  Net.WebClient()
           var lbytes = wc.DownloadData("http://solomononline.com/downloads/RAMStudyWebinarModules/Module-9.mp4") ;
           var mstr = new MemoryStream(lbytes)
          //FileStream sourceFile = new FileStream(@"http://solomononline.com/downloads/RAMStudyWebinarModules/Module-9.mp4", FileMode.Open);
         
          var FileSize = lbytes.Length;
          byte[] getContent = new byte[(int)FileSize];
          sourceFile.Read(getContent, 0, (int)lbytes.Length);
          sourceFile.Close();
          Response.BinaryWrite(getContent);
        
     
%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="LoginContent" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="RightContent" runat="server">
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="LeftContent" runat="server">
</asp:Content>

<asp:Content ID="Content6" ContentPlaceHolderID="footer1" runat="server">
</asp:Content>

<asp:Content ID="Content7" ContentPlaceHolderID="footer2" runat="server">
</asp:Content>

<asp:Content ID="Content8" ContentPlaceHolderID="footer3" runat="server">
</asp:Content>

<asp:Content ID="Content9" ContentPlaceHolderID="MenuContent" runat="server">
</asp:Content>
