
/* Moved to styles/Profile.Corporate.css */

/*
.NPanel
{
	/*overflow: auto;
	clip: rect(auto auto auto auto);*/
/*}
*/

/*
.static { position: static;	}

#cPassword a:link { color: #fff; text-decoration: none; }
#cPassword a:visited { color: #fff; text-decoration: none; }
#cPassword a:hover { color: black; text-decoration: none;}
*/