﻿/*
	Used by:
	------------------
	Corporate.Master
	Index.aspx
	Timeout.aspx
	Main.aspx
*/

/*-- ---------------------------------------------------------------------- -- */
/* Moved From sa_style.css */
/*-- ---------------------------------------------------------------------- -- */
BODY, TD, TH, P, LI {
    font: 12px geneva, arial, verdana, sans-serif;
    color: #3f4755;
    scrollbar-face-color: #f0f0f0;
    scrollbar-highlight-color: #000000;
    scrollbar-shadow-color: #000000;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-arrow-color: #666666;
    scrollbar-track-color: #ffffff;
    scrollbar-darkshadow-color: #f0f0f0;
}

P, LI {
    font: 11px geneva, arial, verdana, sans-serif;
    font-size: small;
    voice-family: inherit;
}

.font-bold {
    font-weight: bold;
}

.aPjust {
    font: 11px geneva, arial, verdana, sans-serif;
    text-align: justify;
}

.Faqquestion {
    font: bolder 12px Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
}

.menulinkdisabled {
    font: 10px/14px verdana, geneva, arial, sans-serif;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

.container {
    width: 786px;
}

#push, #footer {
    height: 40px;
}

#footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    background-color: #3f4755;
    margin-top:2px;
}

.legal{
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 786px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.page_banner {
    min-height: 63px;
    height: 72px;
}

.page_menu_bar {
    background-image: url('../images/btn_bg.gif');
}

    .page_menu_bar > .btn-group-sm > .btn, .btn-sm {
        font-size: 10px;
        color: #fff;
    }

    .page_menu_bar > .btn-group-sm > .btn, .btn-default {
        background-color: transparent;
        background-image: none;
        text-shadow: none;
        border-color: transparent;
    }

.login_banner {
    width: 580px;
    height: 68px;
    background-image: url('../images/ghg_one_banner(580x68).jpg');
    vertical-align: bottom;
    position: relative;
    left: -20px;
}

.login_control > table {
    margin: 0 auto;
}

.remeberMe{
margin-left:10px!important;
}

.twofactorcheckbox{
margin-left:20px!important;
}

#workarea {
    width: 580px;
    max-width: 580px;
}

.summary_label {
    font-size: 15pt;
    color: #ffffff;
    float: right;
    min-height: 22px;
    padding-right: 8px;
    float: right;
    padding-top: 44px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.sidebar, .sidebar_banner {
    margin: 0;
    width:100%;
}

.sidebar {
    height: 100%;
    float: none;
    margin: 0 auto;
}

.sidebar-date {
    text-align: center;
    background-color: #dcdcdc;
    width: 175px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.btn-solomon {
    background-image: linear-gradient(to bottom,#5f6a7f 0,#265a88 100%);
}

.period-selection-bar {
    background-color: #5f6a7f;
    color: #fff;
    margin-left: 1px;
}

    .period-selection-bar > label {
        font-weight: normal;
        font-size: 12px;
        text-align: right;
        padding-right: 0;
        padding-top: 2px;
    }

#ddlStart, #ddlEnd, #PH_Work_ddlStart, #PH_Work_ddlEnd {
    padding: 3px 6px;
    height: 28px;
    margin-top: -4px;
    font-size: 12px;
    width: auto;
}

#main-work {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    /*left: 16px;*/
}

    #main-work > .well {
        position: relative;
        height: 455px !important;
        overflow: auto;
    }

    #main-work > form > .well > .passwordBlock {
        padding: 40px;
    }

.rpt-opt-radio > label {
    font-weight: normal;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 4px;
}

.rpt-opt-radio > input {
    font-weight: normal;
    font-size: 12px;
}

.rpt-opt-refinery-left, .rpt-opt-refinery-right {
    vertical-align: top;
}

.rpt-opt-refinery-left {
    padding-right: 6px;
}

table.rpt-opt-run {
    float: none;
    margin: 0 auto;
    padding-top: 10px;
}

.rpt-opt-run > tbody > tr > td > input {
    color: #fff;
}

/*.sidebar_banner > tbody > tr > td > ul > li{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: #f5f5f5;
}

.sidebar_banner > tbody > tr > td > ul > li > ul > li{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: #f5f5f5;
}*/


.restyle-trigger-btn {
    padding: 0;
}

.restyle-branch-btn {
    white-space: nowrap;
    position: relative;
    left: -4px;
    margin-left: 0;
}

.restyle-branch-span-btn {
    padding: 0;
}

.analysis {
    padding: 4px;
    color: #fff;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: #5f6a7f;
    text-align:center;
}

.chart-tree-selection > a {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.profile-button-primary {
    background-color: #5f6a7f;
    color: #fff;
}

.profile-button-secondary {
    background-color: #9b9da2;
    color: #fff;
    margin-left: 10px;
}

.profile-button-home {
    width: 33%;
}

.nav-header {
    cursor: pointer;
    position: relative;
    left: 4px;
}

.nav-list li:hover {
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.settingsActive {
    background-color: #f5f5f5;
}
/*-- ---------------------------------------------------------------------- -- */
/* Moved From content.css */
/*-- ---------------------------------------------------------------------- -- */
.static {
    position: static;
}

#cPassword a:link {
    color: #fff;
    text-decoration: none;
}

#cPassword a:visited {
    color: #fff;
    text-decoration: none;
}

#cPassword a:hover {
    color: black;
    text-decoration: none;
}

/*-- ---------------------------------------------------------------------- -- */
/* Moved From print.css */
/*-- ---------------------------------------------------------------------- -- */
.noshow {
    visibility: hidden;
    float: left;
}

#fixme {
    visibility: hidden;
}

.SlideLeft {
    left: 0px;
    position: absolute;
    top: 0px;
}

.showPrint {
    display: inline;
}

.header, .footer {
    display: none;
}

.navigationStandard, .navigationHome {
    display: none;
}

.navigationText {
    float: left;
    margin-top: 1px;
}

.menuselected {
    background-color: lightsteelblue;
}

.wrap_side {
    width: 175px;
    overflow: auto;
    height: 420px;
}
.companyText{
        float: left;
    vertical-align: middle;
    text-align: center;
    color: white;
    margin-top: 6px;
    margin-left: 5px;
}