	#videoPlayer {
                position:relative;
		overflow:hidden;
		width:655px;
		height:525px;
       		//background:#FFFFFF url(http://webservices.solomononline.com/dbap/video/images/SolomonLogo.jpg) no-repeat center;
		text-align:center;
		cursor:pointer;
        	background-color:#333;
                left: 0px;//border:1px solid #FFF;//border-top:1px solid #FFF;
	}


	#videoGallery {
		margin:0px;
		padding:0px;
		list-style:none;
		display:inline;
		
	}

	/* main navigator */
	#videoGallery {
		float:left;
		padding:0px !important;
		margin:0px !important;
	}
	
	#videoGallery li {
		background-color:#333;
		border-top:1px solid #666;
		clear:both;
		color:#FFFFFF;
		font-size:12px;
                font-family: Tahoma;
		height:108px;
		list-style-type:none;
		padding:5px;
		width:295px;
		cursor:pointer;
	}
	
	#videoGallery li:hover {
		background-color:#444;
	}
	
	#videoGallery li.active {
		background-color:#555;
	}
	
	#videoGallery img {
		float:left;
		margin-right:0px;
	}
	
	#videoGallery strong {
		display:block;
	}

        #vMedia{
                width:648px;
		height:486px;
                background:#FFFFFF url(http://webservices.solomononline.com/dbap/video/images/SolomonLogo.jpg) no-repeat center;
                border: solid 1px #CCCCCC;
        }
        
	#vDesc{
                //margin: 10px 10px;
                //float: bottom;
  		//display: inline;
	}

        #vDesc strong{
 		color:#FFFFFF;
		font-size:12px;
                font-family: Tahoma;
                float: left;

        }
        
        #vLink a{
 		color:#FFFFFF;
		font-size:10px;
                font-family: Tahoma;
                float: left bottom;

        }

	/* root element for scrollable */
	.scrollable {

		/* required settings */
		position:relative;
		overflow: hidden;
              

		/* vertical scrollables have typically larger height than width but not now */
		height: 480px;
		width: 290px;
	}

	/* root element for scrollable items */
	.scrollable .items {
		position:absolute;

		/* this time we have very large space for the height */
		height:20000em;
	}
	
       #actions {
         position:relative;
         
	 width:275px;
         height:30px;
         margin:20px 0px 20px 10px
	
        }

	#actions strong{
	font-size:16px;		
	font-family: Tahoma;
	color:#666;
	}
/*
	
      .prev{ 
              display:inline;
         }

        .next {
                position: relative;
		float:right;
	}	

*/
	#main {
       		background-color: #333;
                width: 990px;
                height: 625px;//border: 1px solid #FFF;
	}