﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/RAM.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

<h2>Index</h2>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="MenuContent" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="RightContent" runat="server">
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="LeftContent" runat="server">
</asp:Content>

<asp:Content ID="Content6" ContentPlaceHolderID="footer1" runat="server">
</asp:Content>

<asp:Content ID="Content7" ContentPlaceHolderID="footer2" runat="server">
</asp:Content>

<asp:Content ID="Content8" ContentPlaceHolderID="footer3" runat="server">
</asp:Content>
