﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petrochemical Benchmarking - Chemical Consultants | Solomon Associates</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("PDH", "Index", "PDH")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>HSB Solomon Associates LLC • One Lincoln Centre • 5400 LBJ Freeway • Suite 1400 • Dallas, TX 75240 • Phone: +1.972.739.1700</p>
            <p>&copy; @DateTime.Now.Year - HSB Solomon Associates LLC • <a href="http://solomononline.com/?page_id=701">Legal</a> • <a href="http://solomononline.com/?page_id=2585"> Intellectual Property</a> • <a href="http://solomononline.com/?page_id=2585">Privacy</a> • <a href="http://solomononline.com/sitemap/">Sitemap</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
