input.error  { background: #fed; border: 1px solid red; } 
select.error { background: #fed; border: 1px solid red; }  
label.error, .form-side-labels label.error, .form-top-labels label.error ,span.error  
{   
	
	/*z-index:40;*/
	display: block;     	
	text-align:left;

    margin-left: 5px;
	padding: 3px;
	color: #da3939;
	font-size: 1.0em;
	
	font-style: italic;
	font-weight: normal
}  

.form-top-labels label.error  
{     	
	margin: 3px 0 0;  
	width: 416px;    
}  
  
.form-top-labels .side-by-side label.error, .form-top-labels .side-by-side-last label.error 
{
	width: 200px; 
}