

/*
A:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}
*/

.topmenu {
	TEXT-DECORATION: none;
}

A.topmenu:link {
	TEXT-DECORATION: none;
}

A.topmenu:visited {
	TEXT-DECORATION: none;
}

A.topmenu:active {
	TEXT-DECORATION: none;
}

A.topmenu:hover {
	TEXT-DECORATION: none;
}

.menulink {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #244e98;
}

A.menulink:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A.menulink:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A.menulink:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A.menulink:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

.leftlinks {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #333333;
}

A.leftlinks:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A.leftlinks:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A.leftlinks:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A.leftlinks:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

.navtrail {
	font-size: 10px;
	color: #eeeeee;
	LINE-HEIGHT: 10px;
}

A.navtrail:link {
	color: #eeeeee;
}

A.navtrail:visited {
	color: #eeeeee;
}

A.navtrail:active {
	color: #eeeeee;
}

A.navtrail:hover {
	color: #eeeeee;
}

.tinylink {
	font: 10px/14px geneva, arial, sans-serif;
}

A.tinylink:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A.tinylink:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A.tinylink:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A.tinylink:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

.leftRelatedLinks {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #fff;
}

INPUT.button {
	border-right: #32c862 1px solid;
	border-top: #32c862 1px solid;
	font-size: 8pt;
	border-left: #32c862 1px solid;
	width: 70px;
	color: #000000;
	border-bottom: #32c862 1px solid;
	font-family: verdana, arial;
	background-color: #bceecc;
}

INPUT.checkbox {
	border-right: 0px;
	border-top: 0px;
	font-size: 8pt;
	border-left: 0px;
	width: 40px;
	color: #000000;
	border-bottom: 0px;
	font-family: verdana, arial;
}

INPUT.button2 {
	border-right: #32c862 1px solid;
	border-top: #32c862 1px solid;
	font-size: 8pt;
	border-left: #32c862 1px solid;
	width: 125px;
	color: #000000;
	border-bottom: #32c862 1px solid;
	font-family: verdana, arial;
	background-color: #bceecc;
}

INPUT.buttonreset {
	border-right: #fa4b00 1px solid;
	border-top: #fa4b00 1px solid;
	font-size: 8pt;
	border-left: #fa4b00 1px solid;
	width: 70px;
	color: #000000;
	border-bottom: #fa4b00 1px solid;
	font-family: verdana, arial;
	background-color: #ffc4ab;
}

INPUT.btnlogin {
	border-right: #32c862 1px solid;
	border-top: #32c862 1px solid;
	font-size: 10px;
	border-left: #32c862 1px solid;
	width: 40px;
	color: #000000;
	border-bottom: #32c862 1px solid;
	font-family: verdana, arial;
	background-color: #bceecc;
}

INPUT.smallbutton {
	border-right: #32c862 1px outset;
	border-top: #d5ffd5 1px outset;
	font-weight: bolder;
	font-size: 10px;
	border-left: #d5ffd5 1px outset;
	width: 40px;
	color: #000000;
	border-bottom: #32c862 1px outset;
	font-family: verdana, arial;
	background-color: #99ff99;
}
/*INPUT {
	border-right: #060606 1px solid; border-top: #060606 1px solid; SCROLLBAR-FACE-color: #cccccc; font-size: 12px; SCROLLBAR-HIGHLIGHT-color: #e0e0e0; border-left: #060606 1px solid; SCROLLBAR-SHADOW-color: #999999; SCROLLBAR-3DLIGHT-color: #b9b9b9; SCROLLBAR-ARROW-color: #333333; SCROLLBAR-TRACK-color: #ffffff; border-bottom: #060606 1px solid; font-family: "andale mono", "monotype.com", "courier new", monospace; SCROLLBAR-DARKSHADOW-color: #b9b9b9; SCROLLBAR-BASE-color: #f0f0f0; HEIGHT: 16px; background-color: #f8f8f8
}*/
SELECT {
	border-right: #060606 1px solid;
	border-top: #060606 1px solid;
	SCROLLBAR-FACE-color: #cccccc;
	font-size: 12px;
	SCROLLBAR-HIGHLIGHT-color: #e0e0e0;
	border-left: #060606 1px solid;
	SCROLLBAR-SHADOW-color: #999999;
	SCROLLBAR-3DLIGHT-color: #b9b9b9;
	SCROLLBAR-ARROW-color: #333333;
	SCROLLBAR-TRACK-color: #ffffff;
	border-bottom: #060606 1px solid;
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	SCROLLBAR-DARKSHADOW-color: #b9b9b9;
	SCROLLBAR-BASE-color: #f0f0f0;
	HEIGHT: 16px;
	background-color: #f8f8f8;
}

TEXTAREA.requestarea {
	border-right: #060606 1px solid;
	border-top: #060606 1px solid;
	SCROLLBAR-FACE-color: #cccccc;
	font-size: 8pt;
	SCROLLBAR-HIGHLIGHT-color: #e0e0e0;
	border-left: #060606 1px solid;
	SCROLLBAR-SHADOW-color: #999999;
	SCROLLBAR-3DLIGHT-color: #b9b9b9;
	SCROLLBAR-ARROW-color: #333333;
	SCROLLBAR-TRACK-color: #ffffff;
	border-bottom: #060606 1px solid;
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	SCROLLBAR-DARKSHADOW-color: #b9b9b9;
	SCROLLBAR-BASE-color: #f0f0f0;
	background-color: #f8f8f8;
}

TEXTAREA {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
}

unknown {
	font: 11px/14px geneva, arial, verdana, sans-serif;
	color: #616d83;
	TEXT-DECORATION: none;
}

.bgdiv {
	filter: alpha(opacity=80);
}

.drag {
	cursor: pointer;
	position: relative;
}

.left-sub-head {
	font-size: 11px;
	color: #244e98;
}

.frontops {
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	LINE-HEIGHT: 20px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.topops {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #244e98;
}

A.topops:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A.topops:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A.topops:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A.topops:hover {
	color: #ff6600;
	TEXT-DECORATION: none;
}

.helplink { cursor: pointer; }
.homelink { cursor: pointer; }
.downlink { cursor: pointer; }
.footer { color: #cccccc; }

A.footer:link {
	color: #cccccc;
	TEXT-DECORATION: none;
}

A.footer:visited {
	color: #cccccc;
	TEXT-DECORATION: none;
}

A.footer:active {
	color: #cccccc;
	TEXT-DECORATION: none;
}

A.footer:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

A.bodyright:link {
	color: #333333;
	TEXT-DECORATION: none;
}

A.bodyright:visited {
	color: #333333;
	TEXT-DECORATION: none;
}

A.bodyright:active {
	color: #333333;
	TEXT-DECORATION: none;
}

A.bodyright:hover {
	color: #939aa6;
	TEXT-DECORATION: none;
}

.gray99 {
	color: #999999;
}

.gray66 { color: #666666; }
.gray33 {	color: #333333;}
.black {	color: #000000;}
.white {	color: #ffffff;}
.orange {	color: #ff4800;}
.red {	color: #f00;}
.greybluedark {	color: #616d83;}
.greybluemedium {	color: #939aa6;}

A.greybluedark:link {
	color: #616d83;
	TEXT-DECORATION: none;
}

A.greybluedark:visited {
	color: #616d83;
	TEXT-DECORATION: none;
}

A.greybluedark:active {
	color: #616d83;
	TEXT-DECORATION: none;
}

A.greybluedark:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

A.greybluemedium:link {
	color: #939aa6;
	TEXT-DECORATION: none;
}

A.greybluemedium:visited {
	color: #939aa6;
	TEXT-DECORATION: none;
}

A.greybluemedium:active {
	color: #939aa6;
	TEXT-DECORATION: none;
}

A.greybluemedium:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

.greybluelight {
	color: #b7bdc7;
}

A.greybluelight:link {
	color: #b7bdc7;
	TEXT-DECORATION: none;
}

A.greybluelight:visited {
	color: #b7bdc7;
	TEXT-DECORATION: none;
}

A.greybluelight:active {
	color: #b7bdc7;
	TEXT-DECORATION: none;
}

A.greybluelight:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

.linkblue {
	color: #0000ff;
	TEXT-DECORATION: underline;
}

A.linkblue:link {
	color: #0000ff;
	TEXT-DECORATION: underline;
}

A.linkblue:visited {
	color: #0000ff;
	TEXT-DECORATION: underline;
}

A.linkblue:active {
	color: #0000ff;
	TEXT-DECORATION: underline;
}

A.linkblue:hover {
	color: #0000ff;
	TEXT-DECORATION: underline;
}

.faqTopic {
	font-weight: bold;
	font-size: 18px;
	FLOAT: left;
	padding-bottom: 10px;
	color: #666666;
	LINE-HEIGHT: 13px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.header3 {
	font-weight: bold;
	font-size: 14px;
	color: #666666;
	LINE-HEIGHT: 13px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.header2 {
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 2px;
	color: #333333;
	LINE-HEIGHT: 14px;
	padding-top: 2px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.header1 {
	font-weight: bold;
	font-size: 16px;
	color: #900028;
	LINE-HEIGHT: 16px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.boxheader {
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	LINE-HEIGHT: 14px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.boxbody {
	font-size: 10px;
	color: #244e98;
	LINE-HEIGHT: 12px;
}

.trcolor99 { background-color: #999999; }
.trcoloree { background-color: #eeeeee; }
.trcolordark { background-color: #1f2632; }
.trcolornavgrey { background-color: #758297; }

.trboxheader {
	background-image: url(/bar/ident_bar_bg.gif);
	background-color: #ebedf6;
}

TD.tHeaderBackgroundAlternate {
	background-image: url(/images/tHeaderBackgroundAlternate.gif);
	background-color: #ebedf6;
}

.trActive { background-color: #758297; }
.trInActive { background-color: #bac0cb; }
.HeadtxtColorActive { color: #333; }
.HeadtxtColorInActive { color: #999; }
.txtColorActive { color: #3f4755; }
.txtColorInActive { color: #9fa3aa; }
.norecActive { color: #ff4800; }
.norecInActive { color: #fca07c; }

TD.HeaderActive {
	background-image: url(/images/bg_active.gif);
	background-color: #ebedf6;
}

TD.HeaderInActive {
	background-image: url(/images/bg_inactive.gif);
	background-color: #ebedf6;
}

SPAN.showme {
	filter: dropshadow(color=#000000,OffX=2.5,OffY=2.5,Positive=1);
	width: 100%;
	position: relative;
	top: -8px;
}

.whitedate { background-color: #fff; }

.copy-tiny {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.copy-tiny-ju {
	padding-right: 8px;
	padding-left: 8px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.copy-tinyBold {
	font-weight: bold;
	font-size: 10px;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

LI.copy-tinyBold { list-style-image: url(../images/link_box_black.gif); }

.copy-tinyBoldWhite {
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.copy-supertiny {
	font-size: 9px;
	color: #333;
}

LI.copy-tiny {
	font-size: 10px;
	LIST-STYLE-image: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.aEditComment {
	border-right: #0033cc 1px;
	border-top: #0033cc 1px dotted;
	border-left: #0033cc 1px;
	color: #0000ff;
	border-bottom: #0033cc 1px dotted;
}

.legal {
	font-size: 10px;
	color: #eeeeee;
	LINE-HEIGHT: 10px;
}

A.legal:link {
	color: #eeeeee;
	TEXT-DECORATION: underline;
}

A.legal:visited {
	color: #eeeeee;
	TEXT-DECORATION: underline;
}

A.legal:active {
	color: #eeeeee;
	TEXT-DECORATION: underline;
}

A.legal:hover {
	color: #eeeeee;
	TEXT-DECORATION: underline overline;
}

TD.padding10 {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.trmargin10 {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

P.lineover {
	border-top: #cccccc 1px dotted;
	font-size: 12px;
	margin: 20px 0px 0px;
	color: #3f4755;
	padding-top: 6px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.header1LineOver {
	border-top: #cccccc 1px dotted;
	font-weight: bold;
	font-size: 16px;
	margin: 40px 0px 0px;
	width: 540px;
	color: #900028;
	LINE-HEIGHT: 16px;
	padding-top: 12px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
}

.mapLi {
	LIST-STYLE-image: url(/images/bullet_sitemap.gif);
}

.maplili {
	LIST-STYLE-image: url(/images/tiny/map-l1.gif);
}

.mapliliend {
	LIST-STYLE-image: url(/images/tiny/map-le.gif);
}

.impactdiv {
	border-right: #999 1px solid;
	padding-right: 6px;
	border-top: #999 1px solid;
	padding-left: 6px;
	padding-bottom: 3px;
	font: 9pt arial, verdana, sans-serif;
	border-left: #999 1px dotted;
	color: #3f4755;
	padding-top: 3px;
	border-bottom: #999 1px dotted;
	background-color: #f3dfd8;
	text-align: justify;
}

.faqlineunder {
	margin: 0px 0px 0px 20px;
	padding-top: 6px;
	border-bottom: #aaa 1px dotted;
}

A.treflinks {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #513a99;
}

A.leftlinks:link {
	color: #513a99;
	TEXT-DECORATION: none;
}

A.leftlinks:visited {
	color: #513a99;
	TEXT-DECORATION: none;
}

A.leftlinks:active {
	color: #513a99;
	TEXT-DECORATION: none;
}

A.leftlinks:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

A.tpetrolinks {
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #153997;
}

A.leftlinks:link {
	color: #153997;
	TEXT-DECORATION: none;
}

A.leftlinks:visited {
	color: #153997;
	TEXT-DECORATION: none;
}

A.leftlinks:active {
	color: #153997;
	TEXT-DECORATION: none;
}

A.leftlinks:hover {
	color: #ff4800;
	TEXT-DECORATION: none;
}

#d {
	font-weight: bold;
}






IMG {
	border: 0;
}
TABLE {
	padding: 0;
	margin: 0;
}
TD {
	vertical-align: top;
}
.white {
	background-color: #fff;
}
.gray {
	background-color: #808080;
}
.darkgray {
	background-color: #404040;
}
.lightgray {
	background-color: #eeeeee;
}
.red {
	background-color: #ff3300;
}


